#  /opt/entropywatcher/nas-av.env

#DB/Label (man weiss nie, plötzlich wird es sinnvoll)
SOURCE_LABEL=nas-av
SCAN_PATHS="/srv/nas/User1,/srv/nas/User2,/srv/nas/User3"

MAIL_FROM=<YOUR_EMAIL>
MAIL_SUBJECT_PREFIX="[NAS-AV-Hot]"

#Environment=LOG_LEVEL=INFO
#LOG_FILE=/var/log/entropywatcher/entropywatcher-nas-av.log

#Mail-Alert-Log
ALERT_STATE_FILE=/var/lib/entropywatcher/last_alert_nas-av.txt


CLAMAV_ENABLE=1
CLAMAV_USE_CLAMD=1    # wenn du den Daemon verwenden willst (schneller)

CLAMAV_EXCLUDES="*.iso,*.img,*/.recycle/*,*/@Recycle/*,*/@eaDir/*,*/.DS_Store,*/._*"
CLAMAV_EXCLUDES_MODE=glob


# AV-Services (täglich Mo-Sa)
HEALTH_WINDOW_MIN=1560  # 24 Stunden + 2h Puffer
