#  /opt/entropywatcher/nas.env

SOURCE_LABEL=nas
SCAN_PATHS="/srv/nas"

# Mail Parameter
MAIL_FROM=<YOUR_EMAIL>
MAIL_TO=<YOUR_EMAIL>
MAIL_SUBJECT_PREFIX='[NAS-EntropyWatcher]'

#Mail-Alert-Log
ALERT_STATE_FILE=/var/lib/entropywatcher/last_alert_nas.txt

# nas.env (stündlich um :20)
HEALTH_WINDOW_MIN=75  # 75 Minuten (Puffer für Verzögerungen)
