#  /opt/apps/entropywatcher/config/os-av-weekly.env

#DB/Label (man weiss nie, plötzlich wird es sinnvoll)
SOURCE_LABEL=os-av-weekly

# Breiter, aber noch realistisch ohne Root
SCAN_PATHS="/usr/local,/opt,/var/www,/boot,/etc"


CLAMAV_ENABLE=1
CLAMAV_USE_CLAMD=1    # wenn du den Daemon verwenden willst (schneller)


# Gleiche Excludes wie hot + typische Systemriesen raus
CLAMAV_EXCLUDES_MODE=glob
CLAMAV_EXCLUDES="*/.cache/*,*/node_modules/*,*/.venv/*,*/__pycache__/*,*/.git/*,\
*.iso,*.img,*.vhd,*.vdi,*.qcow2,\
/proc/*,/sys/*,/dev/*,/run/*,/var/tmp/*,/tmp/*,/var/cache/*,/var/log/*,\
/var/lib/docker/*,/var/lib/containers/*,/var/lib/mysql/*,\
/etc/ssh/*key*,/etc/shadow*,/etc/gshadow*,/etc/sudoers,/etc/sudoers.d/*,/etc/ppp/*"

# Optional: Mail-Branding
MAIL_FROM=<YOUR_EMAIL>
MAIL_SUBJECT_PREFIX="[OS-AV-Weekly]"
ALERT_STATE_FILE=/var/lib/entropywatcher/last_alert_os-av-weekly.txt

# oss-av-weekly läuft Wöchentlich am Sonntag um 03:10
# 8 Tage (1 Woche + 1 Tag Puffer)
HEALTH_WINDOW_MIN=11520
