# /etc/systemd/system/entropywatcher-nas-av.timer
[Unit]
Description=EntropyWatcher NAS AV daily (Mon..Sat)

[Timer]
OnCalendar=Mon..Sun 02:00
RandomizedDelaySec=10m
AccuracySec=1m
Persistent=true

# wichtig, Verbindung zum zu startenden Service
Unit=entropywatcher-nas-av.service

[Install]
WantedBy=timers.target

