[Unit]
Description=EntropyWatcher ClamAV Scan (WEEKLY full)
Wants=network-online.target clamav-daemon.service
After=network-online.target clamav-daemon.service
RequiresMountsFor=/srv/nas

[Service]
SyslogIdentifier=ew-nas-av-weekly

Type=oneshot
User=<USER>
Group=<GROUP>
WorkingDirectory=/opt/apps/entropywatcher
Environment=PYTHONNOUSERSITE=1
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=6
# optional (cgroups v2 / Debian 12):
# IOWeight=50
# CPUWeight=10

# lade deine Projekt-.env zusätzlich zur python-dotenv (praktisch für Mail/Timerläufe)
EnvironmentFile=-/opt/apps/entropywatcher/config/common.env
EnvironmentFile=-/opt/apps/entropywatcher/config/nas-av-weekly.env

#Environment=LOG_LEVEL=INFO
#Environment=LOG_FILE=/var/log/entropywatcher/entropywatcher-nas-av-weekly.log

# Full-Scan
ExecStart=/opt/apps/entropywatcher/venv/bin/python /opt/apps/entropywatcher/main/entropywatcher.py av-scan --paths ${SCAN_PATHS}
TimeoutStartSec=8h

[Install]
WantedBy=multi-user.target
