[Unit]
Description=Run EntropyWatcher NAS scan hourly

[Timer]
# erster Start 5 Min nach Boot
OnBootSec=5min
# dann jede Stunde
OnCalendar=*-*-* *:20:00
AccuracySec=1m
# bei verpassten Läufen (z.B. Gerät aus) nachholen
Persistent=true
# um "Herdentrieb" zu vermeiden (Mailserver/IO), leicht zufällige Verzögerung
RandomizedDelaySec=5min

Unit=entropywatcher-nas.service

[Install]
WantedBy=timers.target
